<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/head :: head"></head>
<body class="sb-nav-fixed">
	<nav th:replace="admin/header :: nav"></nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav th:replace="admin/side-bar :: nav"></nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">View Advertise</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Advertise</li>
					</ol>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i> Advertise List
						</div>
						<div class="card-body">
							<table class="table" id="datatablesSimple">
								<thead>
									<tr>
										<th>#</th>
										<th>Video Link</th>
										<th>Status</th>
										<th>Update</th>
										<th>Delete</th>
									</tr>
								</thead>

								<tbody th:switch="${ads}">
									<tr th:each="ad : ${ads}">
										<td th:text="${ad.adsId}"></td>
										<td th:text="${ad.link}"></td>
										<td><label class="switch"> <input type="checkbox"
												th:value="${ad.adsId}" th:checked="${ad.status}"
												th:onclick="'javascript:settings(' + ${ad.adsId} + ', ' + ${ad.status} + ' );'" />
												<span class="slider round"></span>
										</label></td>
										<td><a th:href="@{/aedit/{id}(id=${ad.adsId})}"><i
												class="fa fa-edit"></i> </a></td>
										<td><a th:href="@{/adelete/{id}(id=${ad.adsId})}"><i
												class="fa fa-trash"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="../js/scripts.js"></script>
	<script type="text/javascript">
		function settings(id, status) {
			window.location = '/aupdate/' + id + '?status=' + status;
		}
	</script>
</body>
</html>
