<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Java Tutorial | Learn Java Programming - Tech java</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/site.css">
<link rel="stylesheet" href="../css/link.css">
<link rel="stylesheet" href="../js/richtext.min.css">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.richtext.js"></script>
<meta name="theme-color" content="#4CAF50">
<meta property="og:title"
	content="Java Tutorial | Learn Java Programming - javaSpoint">
<meta property="og:description"
	content="Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta name="keywords"
	content="java tutorial, core java tutorial, java programming, tutorials, beginners, professionals, introduction to java, core, concepts, example, java, language, basic, introduction">
<meta name="description"
	content="Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="canonical" href="https://www.javatpoint.com/java-tutorial">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta name="twitter:title" property="og:title"
	content="Java Tutorial | Learn Java Programming - Tech Java">
<meta name="twitter:description" property="og:description"
	content="Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta property="og:url"
	content="https://www.javatpoint.com/java-tutorial">
<meta property="og:site_name" content="www.javatpoint.com">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@pagejavatpoint">
<meta name="twitter:domain" content="www.javatpoint.com">
<meta name="twitter:creator" content="@pagejavatpoint">
</head>
<body>
	<p th:text="${message}" th:if="${message ne null}"
		class="alert alert-primary"></p>
	<form th:action="@{/images}" th:object="${image}" method="post"
		th:switch="${menus}" enctype="multipart/form-data">
		<div class="form-group">
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="customFile"
					name="file" accept="image/png, image/jpeg"> <label
					class="custom-file-label" for="customFile">Choose file</label>
			</div>
		</div>
		<input type="submit" value="Add Topic">
	</form>
</body>