<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tutorial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<form th:action="@{/addTopic}" th:object="${topic}" method="post" th:switch="${menus}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">

    <span th:if="${#fields.hasErrors('question')}" th:errors="*{question}"></span>
    <label for="name">Question</label>
    <input type="text" th:field="*{question}" id="question" placeholder="Question">
    <span th:if="${#fields.hasErrors('question')}" th:errors="*{question}"></span>


    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="name">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <label for="name">Menu</label>
    <select required th:field="*{menuId}">
        <option value="Select Menu"></option>
        <option th:each="menu : ${menus}" th:value="${menu.menuId}" th:text="${menu.name}"></option>
    </select>
    <input type="submit" value="Add Topic">
</form>
</body>