<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Java Quicker Reviser | Java Tutorial | Learn Java
	Programming</title>

<link rel="SHORTCUT ICON" href="../img/favicon/favicon-16.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/link2.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta property="og:title"
	content="Java Quicker Reviser | Java Tutorial | Learn Java Programming - javaSpoint">
<meta property="og:description"
	content="Java Quicker Reviser or Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta name="keywords"
	content="Java Quicker Reviser or java tutorial, core java tutorial, java programming, tutorials, beginners, professionals, introduction to java, core, concepts, example, java, language, basic, introduction">
<meta name="description"
	content="Java Quicker Reviser or Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="canonical"
	href="https://www.javaquickerreviser.com/java-tutorial">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta name="twitter:title" property="og:title"
	content="Java Quicker Reviser | Java Tutorial | Learn Java Programming - Tech Java">
<meta name="twitter:description" property="og:description"
	content=" Java Quicker Reviser or Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta property="og:url"
	content="https://www.javaquickerreviser.com/java-tutorial">
<meta property="og:site_name" content="www.javaquickerreviser">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@page javaquickreviser">
<meta name="twitter:domain" content="www.javaquickreviser.com">
<meta name="twitter:creator" content="@pagejavaquickreviser">

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#"><img id="logo-navbar-middle" src="/img/logo.png"
					width="200" alt="Java Quicker Reviser"></a>
			</div>

			<form class="navbar-form navbar-right" th:action="@{/index}">
				<div class="input-group">
					<input type="text" class="form-control" th:value="${name}"
						title="search" placeholder="Search">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="collapse navbar-collapse navbar-custom" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="">Add Topic</a></li>
			</ul>
		</div>
	</nav>


	<div class="container-fluid text-center-left">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<div>
					<p>
						<span class="glyphicon glyphicon-plus"></span> <a href="/view">View
							Topics </a>
					</p>
					<p>
						<span class="glyphicon glyphicon-plus"></span> <a href="/view">View
							Images </a>
					</p>
					<p>
						<span class="glyphicon glyphicon-plus"></span> <a href="/view">Add
							Topics </a>
					</p>
					<p>
						<span class="glyphicon glyphicon-plus"></span> <a href="/view">Add
							Images </a>
					</p>
				</div>
			</div>
			<div class="col-sm-10 text-left">
				<table class="table table-responsive">

					<td>ID</td>
					<td>Name</td>
					<td>Question</td>
					<td>Description</td>
					<td>Edit</td>
					<td>Delete</td>

					<tr th:each="topic : ${topics}">
						<td th:text="${topic.topicId}" />
						<td th:text="${topic.name}" />
						<td th:text="${topic.question}" />
						<td th:utext="${topic.description}" width="10%"/>
						<td><a th:href="@{/income/edit/{id}(id=${topicId})}"
							class="btn btn-primary"><span
								class="glyphicon glyphicon-edit"></span></a>
						</td>
						<td><a th:href="@{/income/delete/{id}(id=${topicId})}"
							class="btn btn-primary"><span
								class="	glyphicon glyphicon-trash"> </span></a>
					   </td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<footer class="container-fluid footer">
		<p>© Copyright 2022 www.javaquickerreviser.com. All rights
			reserved. Developed by Java Quicker Reviser.</p>
	</footer>

</body>
</html>
