<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="SHORTCUT ICON" th:href="@{/img/favicon-16.png}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/link2.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta property="og:title"
	content="Java Quick Reviser | Java Tutorial | Learn Java Programming - javaSpoint">
<meta property="og:description"
	content="Java Quick Reviser or Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta name="keywords"
	content="Java Quick Reviser or java tutorial, core java tutorial, java programming, tutorials, beginners, professionals, introduction to java, core, concepts, example, java, language, basic, introduction">
<meta name="description"
	content="Java Quick Reviser or Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="canonical"
	href="https://www.javaquickreviser.com/java-tutorial">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta name="twitter:title" property="og:title"
	content="Java Quick Reviser | Java Tutorial | Learn Java Programming - Tech Java">
<meta name="twitter:description" property="og:description"
	content=" Java Quick Reviser or Java Tutorial or Learn Core Java Tutorial or Java Programming Tutorials for beginners and professionals with core concepts and examples covers the basics and fundamentals of java technology.">
<meta property="og:url"
	content="https://www.javaquickreviser.com/java-tutorial">
<meta property="og:site_name" content="www.javaquickreviser">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@page javaquickreviser">
<meta name="twitter:domain" content="www.javaquickreviser.com">
<meta name="twitter:creator" content="@pagejavaquickreviser">
</head>
